/* rule */
.gRule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.ruleBox {
    position: fixed;
    z-index: 5;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 520px;
    border-radius: 8px;
}

.ruleBox .rClose {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    text-align: center;
}

.ruleBox .rClose i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -777px -695px;
    position: relative;
    cursor: pointer;
}

.ruleBox .rTitle {
    position: relative;
    width: 100%;
    height: 50px;
    background: #285A8F;
    background-size: 520px 100%;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ruleBox .rTitle>i {
    display: block;
    width: 90px;
    height: 90px;
    background-position: -777px -905px;
    position: absolute;
    top: -42px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ruleBox .rTitle p {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.ruleBox .rTitle p>i {
    display: inline-block;
    width: 24px;
    height: 26px;
    background-position: -913px -702px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.ruleMain {
    display: block;
    width: 480px;
    height: 300px;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 42px;
    font-size: 16px;
    margin: 20px auto 0;
    overflow: auto;
}

.ruleMain p:nth-last-of-type(1) {
    margin-bottom: 20px;
}

.rSure {
    width: 190px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #285A8F;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    display: block;
    margin: 20px auto 30px;
    cursor: pointer;
}

textarea.ruleMain {
    border: none;
    resize: none;
}

/* rule */
.gPrivacy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.privacyTxt {
    position: fixed;
    z-index: 5;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 520px;
    border-radius: 8px;
}

.privacyTxt .PClose {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    text-align: center;
}

.privacyTxt .PClose i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -777px -695px;
    position: relative;
    cursor: pointer;
}

.privacyTxt .rTitle {
    position: relative;
    width: 100%;
    height: 50px;
    background: #285A8F;
    background-size: 520px 100%;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.privacyTxt .rTitle>i {
    display: block;
    width: 90px;
    height: 90px;
    background-position: -777px -905px;
    position: absolute;
    top: -42px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.privacyTxt .rTitle p {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.privacyTxt .rTitle p>i {
    display: inline-block;
    width: 24px;
    height: 26px;
    background-position: -913px -702px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.privacyMain {
    display: block;
    width: 480px;
    height: 300px;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 42px;
    font-size: 16px;
    margin: 20px auto 0;
    overflow: auto;
}

.privacyMain p:nth-last-of-type(1) {
    margin-bottom: 20px;
}

.pSure {
    width: 190px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #285A8F;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    display: block;
    margin: 20px auto 30px;
    cursor: pointer;
}